.transition() { transition: all 0.3s linear; }
.box(@col) { border-color: @col; } .btn(@col) { div { background-color: @col; } }

@col0: #d11141; @col1: #00b159; @col2: #00aedb; @col3: #f37735; @col4: #ffc425;
@colopt: #000000;

#send { left: 616px; }
#plusbar {
	position: absolute; left: 5px; top: 353px; width: 600px; height: 7px;
	.plusbtn { .transition;
		float: left; cursor: pointer; position: relative; width: ~"calc(20% - 10px)"; height: 7px;
		div { .transition;
			opacity: 0.6; position: absolute; left: 0%; bottom: 0%; width: 100%; height: 3px;
			background-color: black;
		}
		&:hover div, &.plusact div { height: 7px; }
		&:hover div { opacity: 0.8; } &.plusact div { opacity: 1; }
		&#plusbtn0 { .btn(@col0) } &#plusbtn1 { .btn(@col1) } &#plusbtn2 { .btn(@col2) }
		&#plusbtn3 { .btn(@col3) } &#plusbtn4 { .btn(@col4) }
		&#plusopt { .btn(@colopt); width: 50px; }
	}
}
.plusbox { .transition;
	border: 1px solid black; background-color: white !important; color: black;
	&.plusbox0 { .box(@col0) } &.plusbox1 { .box(@col1) } &.plusbox2 { .box(@col2) }
	&.plusbox3 { .box(@col3) } &.plusbox4 { .box(@col4) }
}
form input[name=color] { width: 130px; }
.plusicon { &:not([src]), &[src=""] { display: none; } }
.plazaplus { #morepane iframe { height: 73% !important; } }
#morepane iframe { width: 171px !important; }
.demo { word-wrap: break-word; }
.online {
	width: 100% !important;
	.onlinehead { text-align: center; cursor: pointer; font-weight: bold; }
}

#plus-emoticonPickerBtn, #plus-imgurUploadBtn {
	position: absolute; bottom: 11px; right: 100px; width: 15px; height: 15px;
	background: url(http://i.imgur.com/6ubCX8h.png); background-position: -1px -1px;
	cursor: pointer; z-index: 50;
	&:hover { background-position: -17px -1px; }
	&.active { background-position: -33px -1px; }
}

#plus-emoticonPicker {
	position: absolute; bottom: 42px; right: 30px; width: 150px; height: auto; z-index: 1;
	background: #ffffff; border: 2px solid #aaa; border-radius: 5px; text-align: center;
	-webkit-user-select: none; moz-user-select: none; user-select: none;
	pointer-events: none; opacity: 0; transition: all .5s;
	&.active { pointer-events: initial; bottom: 32px; opacity: 1; }
	&:after, &:before {
		position: absolute; top: 100%; left: 50%; width: 0; height: 0;
		border: solid transparent; content: " "; pointer-events: none;
	}
	&:after { margin-left: -5px;
		border-color: rgba(255, 255, 255, 0); border-top-color: #ffffff; border-width: 5px;
	}
	&:before { margin-left: -8px;
		border-color: rgba(170, 170, 170, 0); border-top-color: #aaa; border-width: 8px;
	}
	div { font-size: 12px; }
	span {
		display: inline-block; margin: 1px; cursor: pointer;
		background: url(http://i.imgur.com/6ubCX8h.png);
		transition: transform .1s ease-in, -webkit-filter .25s;
		&:hover { -webkit-filter: brightness(1.5); filter: brightness(1.5); }
		&:active { transform: scale(2.5); }
	}
	& > hr {
		border: 0; height: 1px; background: rgb(197, 197, 197); margin: 2px 0;
		&:first-of-type { visibility: hidden; margin: 2px 0 0 0; }
	}
}

#plus-imgurUploadBtn {
	right: 117px; background-position: -49px -1px;
	&:hover { background-position: -65px -1px; }
}

#plus_imgurUploading {
	display: flex; position: fixed; width: 100%; height: 100%; z-index: 99999;
	background: rgba(0,0,0,.5); color: #FFFFFF; text-shadow: 0 6px rgba(0,0,0,.2);
	font-family: sans-serif; font-size: 72px;
	justify-content: center; align-items: center;
}

#plus_imgurUploadingBar {
	position: absolute; left: 0; right: 0; width: 40%; height: 15px; margin: 10px auto;
	background: #fff; box-shadow: 0 5px rgba(0,0,0,.2);
}

#plus_imgurUploadingBarPercentage {
	width: 0; height: 15px;
	background: #9575CD; transition: width 2s;
}

#plus_imgurCancelUpload {
	position: absolute; left: 0; right: 0; width: 70px; margin: 40px auto; padding: 5px;
	border: solid 2px; border-radius: 5px;
	font-size: 18px; text-shadow: none; text-align: center; cursor: pointer;
}
